body {
  background-color: aqua;
}

#potato-body {
  width: 200px;
  height: 250px;
  position: absolute;
  top: 70px;
  left: 200px;
}

#hat {
  position: absolute;
  top: 120px;
  left: 180px;
}

#eyes {
  position: absolute;
  top: 200px;
  left: 200px;
}

#mouth {
  position: absolute;
  top: 240px;
  left: 200px;
}

.draggable {
  position: absolute;
  cursor: pointer;
}

.startSize {
  width: 300px;
  height: auto;
  position: absolute;
  top: 500px;
}

.revertButton {
  position: absolute;
  top: 500px;
}
